* {
	margin: 0;
	box-sizing: border-box;
}
:root {
	--color-primary: var(
		--color-blue-500,
		rgb(0, 123, 255)
	);
	--color-primary-content: rgb(255, 255, 255);

	--color-secondary: rgb(34, 34, 34);

	--font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn {
	--btn-color: var(--color-primary);
	--btn-color-content: var(--color-primary-content);
	--padding-size: 0.75rem 1.5rem;

	color: var(--color-primary-content);
	background-color: var(--btn-color);
	border: 1px solid var(--btn-color);
	padding: var(--padding-size);
	.icon {
		width: 1.5rem;
		height: 1.5rem;
		vertical-align: middle;
		fill: var(--btn-color-content);
	}

	&.btn-secondary {
		--btn-color: var(--color-secondary);
		--btn-color-content: var(--color-primary-content);
	}
	&.large {
		--padding-size: 1.5rem 3rem;
	}
}
body {
	background-color: rgb(237, 237, 237);
}
nav {
	display: flex;
	justify-content: space-between;
	background-color: rgb(107, 193, 210);
	padding: 1rem 2rem;
	ul {
		/* display: flex; */
		display: none;
		list-style: none;
		gap: 1rem;
		li a {
			font-size: 1.5rem;
			color: white;
		}
	}
}

[data-sidebar='closed'] aside {
	display: none;
}
[data-sidebar='open'] aside {
	display: flex;
}
p {
	font-size: 1.4rem;
	max-width: 70vw;
	margin: 2rem auto;
	text-align: center;
}
p.tablet-only {
	font-size: 1.4rem;

	color: crimson;
	display: none;
}
p.portrait-only {
	font-size: 1.4rem;

	color: teal;
	display: none;
}

button.large-height {
	background-color: lightgray;
	padding: 2rem;
	text-align: center;
	font-size: 1.5rem;
	display: none;
}

@media screen and (min-width: 768px) {
	nav ul {
		display: flex;
	}
	.menu-toggle {
		display: none;
	}
	[data-sidebar] aside {
		display: none;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	p.tablet-only {
		display: block;
	}
}

@media screen and (orientation: portrait) {
	p.portrait-only {
		display: block;
	}
}

@media screen and (min-height: 600px) {
	button.large-height {
		display: block;
	}
}
@media (prefers-color-scheme: dark) {
	body {
		background-color: rgb(34, 34, 34);
		color: white;
	}
	nav {
		background-color: rgb(10, 90, 110);
	}
}
